<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.data.weblog.mapper.TAvgpvNumMapper" >

  <select id="selectLastSeven" parameterType="string" resultType="com.data.weblog.pojo.TAvgpvNum">
      select * from t_avgpv_num
      where dateStr &gt;  #{0}
      and dateStr &lt;  #{1}
      order by dateStr desc
      limit 7;
  </select>

  <!--
mybaits特殊字符转译
  &            &amp;

  <            &lt;

  >            &gt;

  "             &quot;

  '              &apos;
  小于等于    a<=b                 a &lt;= b      a <![CDATA[<= ]]>b

  大于等于    a>=b                 a &gt;= b      a <![CDATA[>= ]]>b

  不等于        a!=ba <![CDATA[ <> ]]>b      a <![CDATA[!= ]]>b
  -->

</mapper>